@page "/"
@attribute [Authorize]
@using System.Security.Claims
@inject IAccessTokenProvider TokenProvider
@inject UserAPIService UserAPIService
@using BlazeLock.DbLib

<PageTitle>Page d'accueil</PageTitle>

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body text-center p-5">
            <h1 class="display-5 fw-bold mb-3">Bonjour</h1>
        </div>
    </div>
</div>

@code {
    private ClaimsPrincipal? User;
    private AccessToken? AccessToken;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        User = authState.User;

        var tokenResult = await TokenProvider.RequestAccessToken();
        if (tokenResult.TryGetToken(out var token))
        {
            AccessToken = token;
        }

        var userIdClaim = User?.FindFirst(claim => claim.Type == "oid") ??
                          User?.FindFirst(claim => claim.Type == "sub");

        if (userIdClaim != null)
        {
            await UserAPIService.InsertUtilisateurAsync(Guid.Parse(userIdClaim.Value));
        }
    }

}
