@inherits LayoutComponentBase
@using Microsoft.Identity.Web
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <AuthorizeView>
                <Authorized>
                    Bonjour, @username
                    <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool userSignedIn;
    private string? username;
    [Inject] private NavigationManager navigation { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        username = authState.User.Identity?.Name;
        userSignedIn = authState.User.Identity?.IsAuthenticated ?? false;
    }
}